
body{
    text-align: center;
    background-color:  #E5D0AC;
}

h1{font-family:"Fontdiner Swanky", serif;
    color:#a52a2a;
    font-size: 5rem;
    padding-top: 50px;
    margin-bottom:50px;
}
#rules{
    display: block;
    position: relative;
    float: right;
    margin-top: 7px;
    margin-right: 7px;
}
#horns{
    height:100px;
}
#ring{
    height:90px;
}

h2{
    color:rgb(95, 29, 29);
    margin-top: 50px;
    margin-bottom:50px;
}

                                  /*Responsive*/
@media(max-width:768px)
{
  h1{font-size:4rem;}
  h2{font-size:1.7rem ;}
  #horns{height:80px}
  #ring{height:75px;}
  svg{height:25px; width:25px}
  .btn{font-size:1.5rem !important;}
  .input-group.mb-3{width:450px !important; }
  .enter{height: 48px !important;}
  .card{width:400px !important;}

}
@media(max-width:576px)
{
  h1{font-size:3rem;}
  h2{font-size:1.5rem ;}
  #horns{height:50px;}
  #ring{height:45px;}
  svg{height:20px; width:20px}
  .btn{font-size:1.2rem !important;}
  .input-group.mb-3{width:400px !important; }
  .enter{height: 45px !important;}
  .hide{display: none !important;}
  .card{width:380px !important; }
  .modal-body{font-size:15px;}
}

@media(max-width:376px)
{
  h1{font-size:2rem;}
  h2{font-size:1rem ;}
  #horns{height:40px;}
  #ring{height:35px;}
  svg{height:16px; width:16px}
  .btn{font-size:1rem !important;}
  .input-group.mb-3{width:320px !important; }
  .enter{height: 40px !important;}
  .hide{display: none !important;}
  .card{width:290px !important; font-size: 14px;}
  .modal-body{font-size:13px;}
}


                                   /*Button */
.btn{
    text-align: center;
    background-color:#FF9D23;
    color: #FEF2BF;
    font-size: 1.6rem;
    border:1px solid  #C14600;
    border-radius:15px;
    transition: none !important; 
    margin-left: 3px;
}

.btn:hover{
    color: #FEF2BF;
    background-color: #f79111;
    border:1px solid  #C14600;
    transition: none !important; 
}
.btn:active {
    transform: none !important;
    box-shadow: none !important;
    background-color: #f79111 !important;
    color: #FEF2BF !important;
    border:1px solid  #FEF2BF !important;
  }
 #rules{
    background: none;
    border: none;
 }
                                   /* Container*/

.container{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.form-control::placeholder{
    color:lightgray
}
.input-group.mb-3{
    width:500px;
}
.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
    outline: 0 !important; 
  }
  
.enter{
    height:50px;
    font-size: 20px;
    width:80px;
    border-radius:6px;
}

/* Card */
.card{
    background-color:#FEF9E1;
    width:450px;
    height:auto;
    display: grid;
    max-height: 420px;
    overflow:auto;
}

.col{
    text-align: center;
}
                                 /* Pop Up */ 
.modal-body{
    text-align: left;
}
.content{
    padding-left: 3px;
}

.title{
    margin-bottom:12px;
    font-size: 20px;
}

.close{
    font-size: 20px;
}